@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');



body {
 background-color: #eeeeee;   
}
#theWholeBody {
    background-color: #ffffff;
}

#logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: #2d2654;
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #2d2654;
    
    
}

@media (max-width:500px){
    #profile {
        min-width: 100%;
        margin-bottom: 20px;
    }

    #logo {
        font-size: 40px;
    }

   
}

#profile {
    float:right;
    width: 200px;
}

.headings {
    border-bottom: gray dashed 1px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#sideContent {
    border-left: dashed gray 1px;
    text-align: center;
    
}

#sideContent #forBorder {
    border-top: gray dashed 1px;
    padding-top: 30px;
    margin-top: 30px;
}

@media (max-width:780px){
    #sideContent,p {
        border: none;
    }

   
}

