@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
 background-color: #eeeeee;   
}

#logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    color: #2d2654;
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #2d2654;
}


#profilepicture {
    width: 12.5rem;
}

#heading {
    border-bottom: gray dotted 1px;
}

#sideContent {
    border-left: dotted gray 1px;
}



